.wrapper {
    width: 100%;
    height: calc(100% - 75px);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.container-left {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.container-right {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-container {
    width: 100%;
    min-height: 100%;
    height: auto;

    border-top: 1px solid white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.item {
    width: 100%;
    height: auto;
    margin:1vh 0;
    
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px;
}

.stock-item {
    background-color: #263849;
}

.left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.right {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.input-container {
    width: 550px;
    height: 200px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #1e2c3a;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

input {
    border-radius: 5px;
    padding: 5px;
    font-size: 1.3rem;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

@media only screen and (max-width: 1100px) {
    .wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        min-height: 100%;
        height: auto;
        margin-top: 5vh;
    }
    .container-left, .container-right {
        width: 80%;
        min-height: 100%;
    }
    .item-container {}
    .item {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .left {
        width: 70%;
    }
    
    .right {
        width: 40%;
        
    }
}